.be-custom-step {
  overflow: hidden;
  &.el-steps--simple {
    border-radius: 0;
    padding: 0;
    text-align: center;
    background: #dbdbdb;
  }
  .el-step.is-simple {
    width: 100%;
    &.is-last-active {
      .el-step__title.is-finish {
        border-radius: 0 11px 10px 0;
      }
    }
    > .el-step__head {
      display: none;
    }
    .el-step__title {
      max-width: unset;
      width: 100%;
      text-align: center;
      font-weight: 400;
      color: #8F8F8F;
      font-size: 14px;
      line-height: 28px;
      &.is-finish {
        background: #2684ff;
        font-weight: 600;
        color: #fff;
        // border-radius: 0 8px 8px 0;
      }
    }
    .el-step__main {
      width: 100%;
      justify-content: space-between;
      flex-grow: unset;
    }
    .el-step__icon {
      display: none;
    }
    .el-step__arrow {
      flex-grow: unset;
      justify-content: flex-end;
      background: #2684ff;
      z-index: 1;
    }
    .el-step__head {
      padding: 0;
      &:not(:first-child) {
        padding-right: 10px;
      }
    }
    .el-step__arrow::after,
    .el-step__arrow::before {
      background: #fff;
      width: 4px;
      position: absolute;
      top: 3.7px;
      height: 24px;
      right: -1px;
    }
    .el-step__arrow::after {
      transform: rotate(16deg) translateY(8px);
      transform-origin: 100% 97%;
    }
    .el-step__arrow::before {
      transform: rotate(-20deg) translateY(-11px);
      transform-origin: -1px 0;
    }
  }
  .el-step__head.is-finish .el-step__main {
    background: #2684ff;
    color: #fff;
  }
}
.name-pipeline {
  span {
    color: #2B2B2B;
  }
}
.name-stage {
  span {
    color: #363636;
  }
}
