// custom main dialog
.el-dialog {
  &__header {
    padding: 18px 24px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fafafa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    .el-dialog__headerbtn {
      top: -30px;
      right: -30px;
      color: #8d949e;

      .el-dialog__close {
        color: #ccc;
        &::before {
          font-size: 26px;
        }
      }

      &:hover .el-dialog__close {
        color: #f07525 !important;
      }
    }
  }
  .el-dialog__body {
    padding: 0;
  }
}

//dialog center
.popup-center {
  .el-dialog {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// custom background dialog
.v-modal {
  opacity: 0.8 !important;
}

//dialog detail file
.popup-file-detail {
  overflow-y: hidden;
  .body-content {
    padding: 20px !important;
  }
  .el-dialog__body {
    margin-top: 0;
    .popup-content {
      max-height: 85vh;
      .body-content {
        padding-bottom: 0 !important;
        .body-content__table {
          .base-table {
            .el-table__header-wrapper {
              th {
                .cell {
                  line-height: 20px;
                }
              }
            }
            .el-table__body-wrapper {
              height: calc(85vh - 330px);
              overflow-y: auto;
              td {
                padding: 16px 0;
                height: 50px;
                .cell {
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }
              }
            }
          }
        }
        .body-content__table--error {
          .base-table {
            .el-table__body-wrapper {
              height: calc(85vh - 330px);
              overflow-y: auto;
              td {
                padding: 16px 0;
                .cell {
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                }
              }
            }
          }
        }
      }
    }
  }
}

.popup-file-detail.popup-file-cttd {
  .el-table__body-wrapper {
    height: calc(85vh - 245px) !important;
    overflow-y: auto;
  }
}

//popup filter salary
.fillter-salary {
  .el-dialog {
    margin-bottom: 0;
    .el-dialog__body {
      .popup-content {
        max-height: calc(94vh - 121px) !important;
        .select-date {
          justify-content: space-between;
          .el-date-editor,
          .el-input {
            width: 180px;
          }
        }
      }
      .popup-footer {
        .bottom {
          padding: 10px 20px;
        }
      }
    }
  }
}

.popup-reject-pay {
  .form-reject {
    padding: 0 20px;
    .el-form-item__label {
      text-align: left;
    }
  }
}

.popup-salary-detail {
  .table-with-summary {
    .el-table__body-wrapper {
      max-height: calc(85vh - 345px);
    }
    .el-table__footer {
      height: 40px;
    }
  }
}

.upload-file-month {
  display: flex;
  flex-direction: center;
  align-items: center;
  .el-dialog {
    .el-dialog__header {
      height: 22px;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fafafa;
    }
  }
}
.upload-file-year {
  display: flex;
  flex-direction: center;
  align-items: center;
  .el-dialog {
    .el-dialog__header {
      height: 21px;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fafafa;
    }
  }
}

.popup-upload-cttd {
  display: block;
  .content {
    .content-right {
      .el-form {
        .el-form-item {
          display: flex;
          flex-direction: column;
          .el-form-item__label {
            font-size: 12px;
            line-height: 16px;
            color: #8f8f8f;
            font-style: normal;
            margin-bottom: 4px;
            text-align: left;
          }
          .el-select {
            width: 100%;
          }
          .el-input {
            width: 100% !important;
          }
        }
        .opcity {
          .el-form-item__label {
            opacity: 0;
          }
        }
      }
    }
  }
}
.infoEmployeeGroup {
  .el-dialog__body {
    color: #363636;
  }
}
#create-cost {
  .el-dialog__header {
    background: #fff;
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 17px;
    height: 22px;
  }
  .el-dialog__body {
    background: #f3f3f3;
    padding-top: 0px;
    .popup-content {
      padding: 20px 15px 0 20px;
      max-height: calc(94vh - 187px) !important;
    }
    .box-content {
      background: #fff;
      width: 95.5%;
      margin-top: 12px;
      padding: 20px;
      border-radius: 8px;
    }
    .box-content-1 {
      height: 416px;
      margin-top: 0px;
    }
    .box-content-2 {
      height: 90px;
    }
    .box-content-2-plus {
      height: 165px;
    }
    .box-content-3 {
      height: 240px;
    }
    .box-content-4 {
      min-height: 260px;
      margin-bottom: 20px;
    }
  }
  .el-form-item__error {
    top: 38px !important;
    width: 115%;
    font-size: 10px;
  }
  .input-fee {
    .el-form-item__error {
      color: blue;
    }
  }
}

.popup-detail-diff {
  overflow-y: hidden;
  .popup-content {
    height: calc(95vh - 210px);
  }
  .content {
    display: flex;
    flex-direction: column;
    &__row {
      .content_row-item {
        flex: 1;
        text-align: center;
        padding: 18px;
        border: 1px solid #dbdbdb;
      }
      .content_row-item.last-item {
        border-bottom: 1px solid #dbdbdb;
      }
      .content_row-item.item-code {
        padding: 8px 18px;
        display: flex;
        align-items: center;
      }
    }
    &__row :first-child {
      width: 125px;
      flex: unset;
      text-align: left;
      border-bottom: none;
      border-right: none;
    }
    &__row :nth-child(2) {
      border-bottom: none;
      border-right: none;
    }
    &__row :nth-child(3) {
      border-bottom: none;
      border-right: none;
      border-right: 1px solid #dbdbdb;
    }

    .row-diff {
      background-color: var(--be-table-background-diff);
    }
  }

  .popup-footer {
    // padding: 18px 24px;
    // padding-right: 29px;
    // border-top: 1px solid #dbdbdb;
    .btn-custom {
      padding: 8px 10px;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid #dbdbdb;
      outline: none;
      background-color: #fff;
      color: var(--be-color);
      &:hover {
        color: var(--be-button-hover-color) !important;
        border-color: var(--be-button-hover-color);
        background-color: transparent;
      }
    }
    .bottom {
      padding: 18px 28px 18px 24px;
    }
    .bottom-else {
      justify-content: center;
      .el-button {
        margin: 0 10px;
      }
    }
    .content__footer {
      padding: 0 28px 0 24px;
      border-bottom: 1px solid #dbdbdb;
      &-item {
        flex: 1;
        padding: 18px;
        text-align: center;
        border: 1px solid #dbdbdb;
        border-top: none;
        font-weight: 600;
        background-color: var(--be-table-summary-background);
        color: var(--be-text-color-white);
        .el-radio__label {
          color: var(--be-text-color-white);
          font-weight: 600;
        }
      }
      &-item:nth-child(2) {
        border-right: none;
      }
      .width {
        width: 125px;
        flex: unset;
        text-align: left;
        border-right: none;
      }
    }
  }
}

.dialog-confirm-audit {
  .el-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }
}

.popup-file-detail.popup-show-error {
  .el-dialog__body {
    .el-table {
      padding-bottom: 24px;
      .el-table__body-wrapper {
        max-height: calc(85vh - 200px);
        height: fit-content !important;
        .cell {
          -webkit-line-clamp: unset !important;
          line-height: 20px;
          // -webkit-box-orient: unset !important;
          // overflow: unset !important;
        }
      }
    }
  }
}

.notify-error {
  z-index: 7777 !important;
  .detail {
    color: #f56c6c;
  }
}
.program-create {
  .el-dialog {
    max-height: calc(94vh - 187px) !important;
  }
}
.popup-permission {
  .el-dialog {
    max-height: calc(94vh - 30px) !important;
  }
}
.create-deal {
  .popup-content {
    padding: 20px;
    min-height: 276px !important;
  }
  .el-dialog {
    margin-top: 16vh !important;
    .el-dialog__header {
      padding: 17px 20px 17px 20px;
      .title {
        color: #363636 !important;
      }
    }
  }
  .svg-icon {
    width: 36px !important;
    height: 29px !important;
    font-size: 65px !important;
    position: absolute;
    font-weight: 800;
    left: -21px;
    top: -15px;
  }
}

.popup-note {
  .el-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }
}

.popup-add-contact,
.popup-offer {
  .el-dialog {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .input-contact {
      .el-input__inner {
        padding-right: 52px;
      }
    }
  }
}
.history-popup {
  .el-dialog__body {
    .popup-content {
      // padding: 20px;
      overflow: hidden;
      .history-row {
        .history-col-left {
          min-width: 210px;
          max-width: 230px;
          border-right: 1px solid #dbdbdb;
          height: 75vh;
          overflow-y: auto;
          .log-item {
            margin-top: 12px;
            padding: 8px 20px;
            &:last-child {
              margin-bottom: 12px;
            }
            &.is-active {
              background: #fafafa;
              h4 {
                color: #f07525;
              }
            }
            h4 {
              color: #2b2b2b;
              margin-bottom: 4px;
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;
              margin-top: 0;
            }
            &__user {
              .el-avatar {
                width: 20px;
                height: 20px;
                margin-right: 8px;
              }
              &__name{
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }
}
.popup-staff-code {
  .form-validate-custom {
    padding-bottom: 0;
  }
  .upload {
    &.hiddendUpload {
      .el-upload {
        display: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
    .el-upload {
      width: 100%;
      .el-upload-dragger {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .el-upload-list {
      .el-upload-list__item {
        .el-upload-list__item-name {
          font-size: 14px;
          line-height: 20px;
          color: #2b2b2b;
        }
      }
    }
  }
}
.popup-dm-contact {
  .content {
    padding-bottom: 0 !important;
  }
}
