.border-input {
  .el-input__inner {
    border-radius: 20px;
  }
}
.setting__right{
  .el-input__inner {
    color: #363636 !important;
  }
}
.report-filter {
  .filter-select:hover {
    .el-input.el-input--suffix {
      .el-input__inner {
        color: var(--be-button-hover-color);
        border-color: var(--be-button-hover-color);
      }
      i.el-select__caret.el-input__icon.el-icon-arrow-up::before {
        color: var(--be-button-hover-color);
      }
    }
  }
}

.input-width-beedu-prefix {
  .el-input__prefix {
    display: flex;
    align-items: center;
    left: 10px;
  }
}
//audit custom
.audit-input {
  width: 100%;
  .el-input__inner {
    padding: 8px 12px;
    font-size: 18px;
    line-height: 20px;
    color: var(--be-color);
    border: 1px solid var(--be-border-color);
  }
  .el-select .el-input .el-select__caret::before {
    content: ''; // calendar icon of element-ui
  }
}
.audit-input-filter {
  width: 100%;
}
// select audit
.select-custom {
  width: 100%;
  .el-icon-arrow-up:before {
    content: '';
  }
  .el-select__tags {
    .el-tag.el-tag--info {
      color: #fff;
      background-color: #3578e5;
      .el-select__tags-text {
      }
      .el-tag.el-tag--info .el-tag__close {
      }
      .el-tag__close.el-icon-close {
        color: #fff;
        background-color: #3578e5;
      }
    }
  }
}
.select-popup-audit {
  width: 100%;
  .el-icon-arrow-up:before {
    content: '';
  }
  .el-select__tags {
    position: absolute;
    max-width: 396px !important;

    .el-tag.el-tag--info {
      position: absolute;
      width: 100%;
      color: #363636;
      background: none;
      border: 0;
      font-size: 18px;
      line-height: 24px;
      .el-select__tags-text {
      }
      .el-tag.el-tag--info .el-tag__close {
      }
      .el-tag__close.el-icon-close {
        position: absolute;
        right: 0;
        top: 6px;
        color: #fff;
        // font-size: 16px;
        width: 16.67px;
        height: 16.67px;
      }
    }
  }
}
.input-auto-complete {
  width: 100%;
  .el-input {
    .el-input__inner {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      color: #363636;
      user-select: all;
    }
  }
  .el-input.is-disabled .el-input__inner {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #363636;
    border: none;
    background: #f8f8f8;
  }
  &.el-input.is-disabled .el-input__inner {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #363636;
    border: none;
    background: #f8f8f8;
  }
  &.el-textarea.is-disabled .el-textarea__inner {
    background: #f8f8f8;
  }
}
// select custom arrow
.select-custom-arrow {
  width: 100%;
}
// data time picker
.date-picker-custom {
  width: 100%;
  &.el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }
}
//================

//import input search
.import-filter {
  .action-left {
    .search {
      margin-right: 13px;
      .el-input__inner {
        width: 156px;
        height: 40px;
        border: 0;
        background-color: #f3f3f3;
        padding: 6px 8px 6px 28px;
        border-radius: 22px;
        outline: none;
      }
    }
  }
  .cs-poper-salary {
    padding: 16px;
  }
}

.el-checkbox {
  box-sizing: border-box;
  // padding: 10px;
  &.is-checked {
    .el-checkbox__input {
      .el-checkbox__inner {
        // background-image: -webkit-gradient(linear, left top, right top, from(#39a25c), to(#61c500));
        // background-image: linear-gradient(to right, #39a25c, #61c500);
        background-color: var(--be-checkbox-bg);
        border-color: var(--be-border-color);

        &::after {
          -webkit-transform: rotate(45deg) scaleY(1);
          transform: rotate(45deg) scaleY(1);
          width: 5px;
          height: 10px;
          left: 6px;
          top: 3px;
        }
      }
    }
  }

  .el-checkbox__input {
    .el-checkbox__inner {
      width: 20px;
      height: 20px;
      background: var(--be-background-color);
      border-color: #c1c1c1;
      border-radius: 3px;
      transition: unset;
      &:hover,
      &:active,
      &:focus {
        border-color: var(--be-border-color);
      }
    }
  }

  .el-checkbox__label {
    color: inherit;
  }

  .is-indeterminate {
    .el-checkbox__inner {
      background-color: #c4c4c4;
      &::before {
        top: 8px;
      }
    }
  }
}

.el-input__inner {
  font-family: $font-stack !important;
}

input {
  font-family: $font-stack !important;
}

.el-input-number {
  width: 100%;
  .el-input__inner {
    text-align: left;
  }
}

.custom-report-input {
  .el-input__inner {
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #8f8f8f;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #8f8f8f;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #8f8f8f;
    }
  }
}
.custom-text-area {
  .el-textarea__inner {
    font-family: $font-stack;
  }
  .el-textarea.is-disabled .el-textarea__inner {
    background-color: #8f8f8f;
  }
}
// salary select
.salary-select {
  width: 100%;
  &.el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: unset;
  }
}
//kpi
.kpi-filter {
  .action-left {
    .search {
      margin-right: 10px;
      .el-input__inner {
        width: 156px;
        height: 40px;
        border: 0;
        background-color: #f3f3f3;
        padding: 6px 8px 6px 28px;
        border-radius: 22px;
        outline: none;
      }
    }
  }
  .cs-poper-salary {
    padding: 16px;
  }
}
.filterPopupReport {
  .el-input__icon {
    color: #8f8f8f;
  }
}
.upload-file-month {
  .el-input {
    width: 160px !important;
  }
}
.upload-file-year {
  .el-input {
    width: 246px !important;
  }
}
.create-cost {
  .el-input__suffix {
    line-height: 48px;
  }
  .payment-period{
    .el-input__inner {
      width: 161px !important;
      height: 36px !important;
    }
  }
  .fee-payment-time {
    .el-input__inner {
      width: 161px !important;
      height: 36px !important;
      margin-bottom: 20px;
    }
  }
  .big-box-time {
    .el-input__inner {
      width: 161px !important;
      height: 36px !important;
      margin-bottom: 20px;
    }
  }
  .box-content-1 {
    .el-icon-circle-close {
      position: absolute;
      right: -131px;
    }
    .input-ctud {
      .el-icon-circle-close {
        position: absolute;
        right: 0px;
        top: 4px;
      }
    }
    .big-box-time {
      .el-icon-circle-close {
        display: block;
        position: absolute;
        right: 60px!important;
      }
    }
  }
  .box-content-4 {
    .el-input__inner {
      height: 34px !important;
      margin-bottom: 17px!important;
      position: absolute;
      bottom: -33px;
    }
    .input-product-code {
      .el-input__inner {
        width: 284px !important;
        left: 0;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .input-product-name {
      .el-input__inner {
        width: 284px !important;
        left: -2px;
      }
    }
    .input-fee, .input-extraFee, .input-totalFee {
      .el-input__inner {
        width: 118px !important;
        left: 1px;
        text-align: right;
      }
    }
    .input-extraFee {
      .el-input__inner {
        left: -1px;
      }
    }
    .input-totalFee {
      .el-input__inner {
        left: -2px;
      }
    }
  }
  .el-input__inner {
    width: 346px !important;
    height: 36px !important;
    // margin-bottom: 20px;
  }
  .el-textarea {
    margin-bottom: 20px;
  }
  .el-input__icon {
    height: 36px !important;
  }
}
.create-cost {
  .el-button.is-disabled {
    color: #C0C4CC!important;
    background-color: #FFF!important;
    border-color: #EBEEF5!important;
  }
}
.create-deal {
  .el-input__inner {
    width: 346px !important;
    height: 36px !important;
  }
  .closing-date {
    .el-icon-circle-close {
      position: absolute;
      right: -131px;
    }
  }
  .value {
    .el-input__inner {
      border-top-right-radius: 4px!important;
      border-bottom-right-radius: 4px!important;
    }
  }
  .el-icon-arrow-up {
    color: white!important;
  }
  .pipeline, .stage {
    .el-icon-arrow-up {
      color: #C0C4CC!important;
    }
  }
}
.popup-insurance{
  .el-textarea__inner {
    color: var(--be-color)!important;
  }
  .delete--insurance{
    font-size: 14px;
  }
}
.popup-customer{
  .el-textarea__inner {
    color: var(--be-color)!important;
  }
  .el-input__inner{
    color: var(--be-color)!important;
  }
}
.popup-customer {
  .email2 {
  
    .el-icon-circle-close {
      position: absolute;
      right: -120px;
    }
  }
}
