//base form
.base-form {
  .el-form-item {
    .el-form-item__label {
      line-height: 1;
      font-size: 12px;
      position: relative;
      color: #8f8f8f;
    }
  }
  &__item.is-required {
    .el-form-item__label::before {
      position: absolute;
      right: -15px;
    }
  }
  &__item.required {
    .el-form-item__label::before {
      content: "*";
      color: #f56c6c;
      position: absolute;
      right: -10px;
    }
  }
}
.el-form-item {
  .el-input {
    &__inner {
      color: var(--be-color) !important;
    }
  }
}

.custom-report-form {
  .filter-select {
    width: 100%;
    // min-height: 72px;
    border-radius: 4px;

    .el-select__tags {
      .el-tag.el-tag--info {
        background-color: #3578e5;
        color: #ffffff;
        height: 30px;
        line-height: 30px;
        .el-tag__close {
          color: #ffffff;
          background-color: transparent;
        }
      }
    }
  }
  .el-date-editor .el-input {
    width: 100% !important;
  }

  .el-select .el-input {
    .el-select__caret {
      color: #8f8f8f;
    }
  }
  .custom-input {
    width: 100%;
  }
  .el-form-item {
    .el-form-item__label {
      line-height: 1.2;
      padding: 0;
      padding-bottom: 5px;
      color: var(--form-label-color);
      font-size: 12;
    }
  }
  .col-month {
    .el-select {
      width: 100%;
    }
  }
}
.select-item-border {
  .el-select-dropdown__item {
    padding: 0 8px;
    line-height: 36px;
    height: 36px;
    span {
      line-height: 20px;
    }
  }
  .cs-border {
    &:not(:first-child) {
      border-top: 1px solid #ebeef5;
    }
  }
}
.custom-salary-form {
  .el-form-item__label {
    text-align: left;
    font-size: 12px;
    line-height: 16.34px;
    color: #8f8f8f;
    margin-bottom: 4px;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 100%;
  }
  .el-select {
    width: 100%;
  }
  .el-form-item {
    margin-bottom: 20px;
  }
  .pay-roll-row {
    .el-form-item {
      &:first-child {
        margin-right: 24px;
      }
    }
  }
}
.setting-category {
  .el-menu-item,
  .el-submenu__title {
    height: 50px;
    line-height: 50px;
    margin-left: 25px;
  }
  .el-submenu__title:hover {
    background-color: #fafafa !important;
    color: var(--be-link-active-hover-color) !important;
  }
}
.wrap-newsfeed {
  .jodit-container {
    margin: 0 16px;
    border: none !important;
    display: flex;
    flex-direction: column-reverse;
    .jodit-toolbar__box {
      background-color: transparent;
      padding: 6px 0;
      border-top: 1px solid #dbdbdb;
      border-bottom: none;
      .jodit-ui-group {
        position: relative;
        width: 100%;
      }
      .jodit-ui-group > .jodit-toolbar-button:nth-child(9) {
        position: absolute;
        right: 0;
        background-color: #f07525;
        border-radius: 4px;
        padding: 0 5px;
        button {
          cursor: pointer;
          color: #fff;
          &:hover {
            background-color: transparent;
          }
        }
      }
      .jodit-ui-group > .jodit-toolbar-button:nth-child(8) {
        position: absolute;
        right: 66px;
        button {
          cursor: pointer;
          &:hover {
            color: var(--be-link-active-boder-color);
            background-color: transparent;
          }
        }
      }
    }
  }
}
.form-validate-custom {
  padding: 20px;
  // min-height: 30vh;
  .el-input__inner {
    height: 36px;
    line-height: 36px;
    width: 100%;
    max-width: unset;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: unset;
  }
  .el-select {
    width: 100%;
    .el-select__tags {
      .el-tag.el-tag--info {
        background-color: #3578e5;
        color: #ffffff;
        height: 30px;
        line-height: 30px;
        .el-tag__close {
          color: #ffffff;
          background-color: transparent;
        }
      }
    }
  }
  .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label::after,
  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::after {
    content: "*";
    color: #f56c6c;
    margin-left: 4px;
  }
  .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label::before,
  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before {
    content: "";
  }
  .el-form-item__label {
    text-align: left;
    line-height: 16px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #8f8f8f;
  }
  .el-form-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .el-col {
    &:first-child {
      margin-right: 22px;
    }
    &:last-child {
      margin-left: 22px;
    }
  }
  .row-dash {
    display: flex;
    align-items: center;
    .el-icon-minus {
      margin: 0 8px;
      color: #dbdbdb;
    }
  }
}

.filter-customer-form {
  .el-form-item__label {
    line-height: 1;
    padding: 0;
    font-size: 12px !important;
    color: #8f8f8f;
  }
  .el-form-item--width {
    .el-select {
      width: 100%;
    }
  }
}
.form-dragg-validate {
  .text-error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .el-form-item__error {
    display: none;
  }
}
