.detail-sidebar {
  .row-inline {
    .charge:hover .group {
      visibility: visible !important;
    }
    .font-svg {
      .svg-icon {
        font-size: 16px !important;
      }
    }
    .charge {
      display: flex;
      justify-content: space-between;
      .group {
        padding-right: 20px;
      }
    }
    .profile-information {
      display: flex;
      padding: 20px 20px 12px 20px;
      justify-content: space-between;
      .title {
        .svg-icon {
          margin-right: 9px !important;
          margin-bottom: 2px;
          font-size: 10px;
          color: #6b6b6b;
        }
      }
    }

    .detail {
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 14px !important;
      justify-content: flex-end;
      span {
        color: #2684ff;
      }
    }
    .data {
      display: flex;
      padding: 0px 20px;
      .custom-img-table {
        .svg-icon {
          font-size: 30px !important;
          border-radius: 50%;
        }
      }
      .inline-grid {
        display: inline-grid;
        margin-left: 8px;
        margin-bottom: 12px;
        span {
          height: 20px;
        }
      }
      .inline-grid.contact {
        span {
          word-break: break-word !important;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .svg-icon {
        font-size: 23px !important;
      }
    }
  }
  .row {
    .data {
      .svg-icon {
        font-size: 23px !important;
      }
    }
    .font-svg {
      .svg-icon {
        font-size: 16px !important;
      }
    }
    .boder-hr {
      margin-top: 11px;
      padding: 9px 0 0 0 !important;
      margin-left: 20px;
      width: 86%;
      border-top: 1px solid rgb(219, 219, 219);
      justify-content: space-between;
      .group {
        padding-right: 0px !important;
      }
    }
    border-bottom: 1px solid #dbdbdb;
    .charge {
      display: flex;
      justify-content: space-between;
      .group {
        padding-right: 20px;
      }
    }
    .charge-title {
      .title {
        .font-size {
          font-size: 12px;
          line-height: 16px;
          color: #626262;
        }
      }
    }
    .profile-information {
      .action-item {
        .svg-icon {
          color: #6b6b6b;
          line-height: 14px;
          font-size: 14px;
        }
      }
      .title {
        .svg-icon {
          margin-right: 9px !important;
          margin-bottom: 2px;
          font-size: 10px;
          color: #6b6b6b;
        }
      }

      display: flex;
      padding: 20px 20px 12px 20px;
      justify-content: space-between;
    }
    .detail {
      justify-content: flex-end;
    }
    .data {
      .profile-data {
        margin-left: 12.5px;
      }
      display: flex;
      padding: 0px 20px;
      .custom-img-table {
        .svg-icon {
          font-size: 30px !important;
          border-radius: 50%;
        }
      }

      .charge-inline-grid {
        display: inline-grid;
      }
    }
    .range {
      padding: 9px 20px 0px 20px;
    }
    .detail {
      text-align: end;
      padding: 14px;
      color: #2684ff;
    }
    .overview {
      justify-content: space-between;
      padding: 9px 20px 0px 20px;
      display: flex;
      .flex {
        flex: 1;
        justify-content: flex-end;
      }
      .border {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 12px;
      }
    }
    .css {
      padding: 0px 20px 0px 20px;
    }
    .boder {
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 8px;
    }
  }
}
.select-sales {
  .el-input__inner {
    border-color: #fafafa;
    background: #fafafa;
  }
  .el-input__inner:hover & {
    border-color: #dbdbdb;
  }
  .el-select .el-input.is-focus .el-input__inner {
    border-color: #dbdbdb;
  }
  .el-select .el-input__inner:focus {
    border-color: #dbdbdb;
  }
}
.select-prefix {
  .el-input__inner {
    padding-left: 45px;
    color: #363636;
  }
}
.getStatus {
  .svg-icon {
    margin-bottom: 2px !important;
  }
}

.popup-staff,
.append-btn {
  padding-left: 55px !important;
}
.popup-staff {
  .base-custom-table {
    height: 400px !important;
  }
  .be-flex-column {
    display: block !important;
  }
  .el-table__append-wrapper {
    position: absolute;
    top: 0px;
  }
  .el-table__body {
    top: 60px !important;
    position: absolute;
  }
  .el-dialog {
    .popup-content {
      max-height: 70vh !important;
    }
    .el-dialog__body {
      .content {
        .custom-table {
          .el-table__body-wrapper {
            display: inline-block;
            height: calc(100% - 64px) !important;
            overflow-y: auto !important;
          }
        }
      }
    }

    position: absolute !important;
    top: 50%;
    width: 910px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    margin-top: 5vh;
    width: 910px;
  }
}

.popup-addStaff {
  // .base-custom-table .el-table__body-wrapper .el-table__append-wrapper {
  //   height: unset !important;
  // }
  .el-dialog {
    .popup-content {
      max-height: 100vh !important;
    }
    position: absolute !important;
    top: 50%;
    width: 910px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    margin-top: 5vh;
    width: 910px;
  }
  .base-pagination {
    border-top: 1px solid #dbdbdb !important;
  }
  .base-table.table-contract .el-table__body-wrapper {
    height: calc(100vh - 410px) !important;
  }
}
.popup-list-link {
  .content {
    padding-bottom: 0 !important;
  }
  .el-table .cell {
    line-height: 20px !important;
  }

  .be-flex-column {
    display: block !important;
  }
  .el-dialog {
    .el-table__body-wrapper {
      max-height: calc(100vh - 350px);
      overflow-y: auto;
      .el-table__append-wrapper {
        .append-btn {
          padding-left: 48px !important;
        }
      }
    }
    position: absolute !important;
    top: 50%;
    width: 910px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    margin-top: 5vh;
    width: 910px;
  }
}
.popup-details {
  // .scoll {
  //   max-height: 247px !important;
  //   overflow-y: scroll !important;
  // }
}
.setting__Mark {
  .base-pagination {
    display: none;
  }
  .post {
    .el-table__expanded-cell {
      padding: 10px 50px !important;
    }
    .option {
      align-items: center;
      .select-1 {
        .el-input--suffix {
          .el-input__inner {
            height: 36px !important;
          }
          width: 352px !important;
        }
        flex: 1;
        margin-left: 50px;
        margin-right: 25px;
      }
      .select-2 {
        .el-input--suffix {
          width: 122px !important;
          .el-input__inner {
            height: 36px !important;
          }
        }
        flex: 1;
      }
      .delete {
        .span-icon {
          font-size: 11px;
        }
        flex: 1;
        margin-left: 15px;
      }
    }
    .create {
      width: 105px;
      margin-left: 50px;
      color: #2769b1;
    }
  }
}
.header {
  .flex {
    .flex {
      .el-input__inner:hover {
        color: var(--be-link-active-color) !important;
        border-color: var(--be-link-active-color) !important;
      }
    }
  }
}
