.slick-slider {
    .slick-track {
        display: flex !important;
        .slick-slide {
            padding-left: 15px;
        }
    }
    .slick-slide:first-child {
        padding-left: 0;
    }
    // .slick-slide:last-child {
    //     padding-right: 0;
    // }
    .slick-prev {
        top: -26px;
        right: 57px;
        left: unset;
        &::before {
            content: "";
            position: absolute;
            border-left: 2px solid #fff;
            border-top: 2px solid #fff;
            width: 12px;
            height: 12px;
            transform: translate(50%, -50%) rotate(-45deg);
        }
    }
    .slick-next {
        right: 0;
        top: -26px;
        &::before {
            content: "";
            position: absolute;
            right: 13px;
            border-left: 2px solid #fff;
            border-top: 2px solid #fff;
            width: 12px;
            height: 12px;
            transform: translate(50%, -50%) rotate(135deg);
        }
    }
}

.none-button-slide {
    .slick-slider {
        .slick-prev,
        .slick-next {
            display: none !important;
        }
    }
}
