.audit-page {
  font-family: $font-stack;
  .main-action{
    margin-bottom: 20px;
  }
  .el-dropdown-menu__item {
    color: var(--be-text-action-color);
  }
  .el-dropdown {
    color: var(--be-text-action-color) !important;
  }


  .el-table__row:hover .be-flex span {
    display: block;
  }
  .actions {
    .custom-button {
      height: 36px;
      padding: 6px 10px;
      margin-left: 10px;
      .icon {
        font-size: 22px;
        margin-right: 10px;
      }
    }
  }
  .actionD {
    cursor: pointer;
  }
  .action {
    .el-dialog {
      margin: 0 auto;
      top: 10%;
    }
  }
  .actionT {
    .el-dropdown-menu__item:hover,
    .el-dropdown-menu .el-dropdown-menu__item:focus,
    .el-dropdown-menu .el-dropdown-menu__item:active {
      background-color: var(--be-background-action-color) !important;
    }
    .el-dropdown-menu__item:hover,
    .el-dropdown-menu .el-dropdown-menu__item:focus {
      color: var(--be-text-action-color) !important;
    }
  }
}
