.deal-page {
  .btn-back {
    font-size: 12px;
    line-height: 16px;
  }
  .report-filter .custom-input .el-input__inner {
    color: #000000;
  }
  &.draggable-page {
    > .content {
      background: #fafafa;
      border: 1px solid #dbdbdb;
      box-sizing: border-box;
      overflow-y: hidden;
      height: calc(100vh - 160px);
    }
  }
  &.deal-setting {
    padding: 0 20px 0 20px;
    overflow: hidden;
    .base-custom-table {
      .action-table {
        opacity: 0;
        display: flex;
        justify-content: flex-end;
        .el-button {
          &:not(:first-child) {
            margin-left: 20px;
          }
          .svg-icon {
            font-size: 15.5px;
          }
        }
      }
      .el-table__row:hover {
        .action-table {
          opacity: 1;
        }
      }
      .el-table__body-wrapper {
        height: calc(100vh - 292px);
        overflow-y: auto;
      }
    }
    .title {
      h3 {
        color: var(--be-color);
        font-size: 24px;
        list-style: 20px;
        font-weight: 400;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 15px;
      }
      .el-button {
        color: var(--be-color);
        margin-top: 14px;
        margin-bottom: 20px;
        &:hover {
          color: var(--be-button-hover-color);
        }
      }
    }
    .actions-right {
      .el-button {
        color: var(--be-color);
      }
      .svg-icon {
        font-size: 15px;
      }
    }
    .content {
      width: 100% !important;
    }
    .content-right {
      .btn-add-deal {
        border-radius: 4px;
        border: none;
        color: #2769b1;
      }
    }
  }
  &.deal-customer {
    // max-width: 100%;
    padding: 20px 20px 0 20px;
    overflow: auto;
    .base-custom-table {
      .el-table__body-wrapper {
        .base-custom-table {
          .el-table__body-wrapper {
            height: calc(100vh - 243px);
            overflow-y: auto;
            .el-avatar--small,
            .avatar__imployee--defalt {
              font-size: 30px;
              line-height: 30px;
            }
          }
        }
        overflow-y: auto;
        .el-avatar--small,
        .avatar__imployee--defalt {
          font-size: 30px;
          line-height: 30px;
        }
      }
    }
  }

  .custom-btn-icon {
    padding: 0;
    border: 0;
    &:hover,
    &:active {
    }
  }
  .content {
    overflow-x: auto;
    .el-col {
      min-width: 232px;
    }
  }
  .base-custom-table {
    .el-table__body-wrapper {
      height: calc(100vh - 243px);
      overflow-y: auto;
      .row-avt {
        .el-col {
          width: unset;
          text-align: left;
          &:first-child {
            margin-right: 8px;
          }
        }
      }
      .el-avatar--small,
      .avatar__imployee--defalt {
        font-size: 30px;
        line-height: 30px;
      }
      .el-avatar--small {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;

    .btn-window-plus {
      padding: 0;
      &:active,
      &:hover,
      &:visited,
      &:focus {
        color: #f07525;
        border-color: #f07525;
      }
      &.is-active {
        &:active,
        &:hover,
        &:visited,
        &:focus {
          color: #f07525;
          border-color: #f07525;
        }
      }
      .icon-window-plus {
        .svg-icon {
          font-size: 36px !important;
        }
      }
    }
    .el-dropdown {
      padding: 0;
      .el-button {
        background: #f07525;
        color: white;
        z-index: unset;
        &:hover,
        &:active,
        &:focus {
          color: white;
          border-color: unset;
        }
      }
    }
    .batch-action {
      .el-dropdown__caret-button.el-button--default {
        padding: 10px 5px !important;

        &::before {
          top: 0;
          bottom: 0;
        }
      }
      .el-button {
        color: #2b2b2b;
        background: white;
        &:hover,
        &:active,
        &:focus {
          color: #2b2b2b;
          border: 1px solid #dcdfe6;
        }
      }
    }
    .custom-button {
      .el-dropdown__caret-button {
        padding: 8px 5px !important;
        &::before {
          top: 0;
          bottom: 0;
          background: #fff;
        }
      }
      &.el-select {
        .el-input {
          text-overflow: ellipsis !important;
          .el-select__caret {
            color: var(--be-color);
          }
          .el-input__inner {
            color: var(--be-color);

            text-overflow: ellipsis !important;
            &:hover,
            &:active,
            &:focus,
            &:visited {
              // overflow: hidden;
              // white-space: nowrap;
              text-overflow: ellipsis !important;
            }
          }
        }
      }
      &.el-button-group {
        span,
        i {
          color: var(--be-color);
        }
        > .el-button {
          height: 36px;
          &:hover,
          &:active,
          &:focus,
          &:visited,
          &:focus-within {
            background: #fff;
            border-color: var(--be-border-color);
          }
          .el-button {
            padding: 0;
            border-color: #fff;
            margin-left: 0;

            &:hover,
            &:active,
            &:focus,
            &:visited,
            &:focus-within {
              background: #fff;
              border-color: var(--be-border-color);
            }
          }
        }

        .el-dropdown__caret-button.el-button--default::before {
        }
      }
      .el-button {
        padding: 8px 10px;
        line-height: 18px;
      }
      &.el-button-group,
      &.el-select {
        padding: 0;
      }
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
  .deal-pipeline {
    .el-table__header-wrapper .el-table__header thead th {
      padding: 0;
    }
    .cell {
      padding: 7px 0;
    }
    .filter-select {
      margin-right: 12px;
    }
    .deal-popper {
      .el-select-dropdown__item {
        line-height: 36px;
        &:last-child {
          border-top: 1px solid #dbdbdb;
        }
      }
    }
  }
  .el-table {
    .el-table__body-wrapper {
      .el-table__row {
        .el-icon-more {
          display: none;
        }
        &:hover {
          .el-icon-more {
            display: block;
            width: 100%;
            height: 100%;
            padding: 7px;
            &:hover {
              color: var(--be-text-color-hover);
            }
          }
        }
      }
    }
  }
}
.create-deal {
  .actions {
    display: flex;
    align-items: center;
    .icon-window-plus {
      .svg-icon {
        font-size: 36px !important;
      }
    }
    .custom-button {
      &.el-button-group {
        > .el-button {
          &:hover,
          &:active,
          &:focus,
          &:visited,
          &:focus-within {
            background: #fff;
            border-color: var(--be-border-color);
          }
          .el-button {
            padding: 0;
            border: none;
          }
        }
      }
      .el-button {
        width: 67px !important;
        padding: 8px 10px;
        line-height: 18px;
      }
      &.el-button-group,
      &.el-select {
        padding: 0;
      }
      &:not(:first-child) {
        margin-left: 10px;
      }
      .el-dropdown__caret-button {
        width: 20px !important;
        padding: 8px 0px;
      }
    }
    .el-dropdown {
      padding: 0;
      .el-button {
        background: #f07525;
        color: white;
        z-index: unset;
        &:hover,
        &:active,
        &:focus {
          color: white;
          border-color: unset;
        }
      }
    }
  }
}
