.title_file {
  font-weight: 600;
  font-size: 24px;
  color: #363636;
}
.info_view-input {
  display: flex;
  align-items: center;
  margin: 0 0 22px 0;
}
.img_view-input {
  font-size: 30px;
  margin-right: 12px;
}
.name_user_view,
.time_view {
  display: inline-block;
}
.name_user_view {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8f8f8f;
  .name_user_view-dots {
    margin: 0 12px 0 8px;
  }
}

.time_view {
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
}
.direc_view-input {
  font-weight: 400 !important;
  color: #363636;
}

.sack_rowData-title,
.sack_rowData-data {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
.sack_rowData-title {
  margin-left: 18px;
  font-size: 14px;
  font-weight: 400;
  color: #363636;
}

.sack_rowData-data {
  font-weight: 600;
  font-size: 16px;
  color: #363636;
  margin-left: 30px;
}
.edit_marginTop {
  margin-top: 7px;
}
.fix_left_format {
  margin-left: 11px;
}
.fix_left-nvtv {
  margin-left: 57px;
}
.fix_left-ip {
  margin-left: 72px;
}
.table_upload {
  margin-top: 16px;
}
.footer_upload {
  display: flex;
  margin-top: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #8f8f8f;
  justify-content: space-between;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-bottom: 1px solid #f3f3f3 !important;
}
.el-tabs__item.is-active {
  color: #f07525 !important;
}
.el-tabs__item:hover {
  color: #f07525 !important;
}
.el-tabs__item {
  font-weight: 400;
  padding: 0 10px !important;
  font-size: 12px !important;
}
.el-dialog__header {
  background: #f3f3f3;
  padding: 20px 17px;
}
.create-customer {
  .create-img .avatar-uploader .el-upload:hover .icon__camera {
    color: #fff !important;
  }
}
