.test2 {
    .el-dialog__body {
        padding: 0px 10px 10px 20px !important;
    }
    h2 {
        font-weight: 600;
        font-size: 24px;
    }
    .title {
        font-size: 16px;
        font-weight: 600;
    }
    .el-dialog {
        width: 1240px !important;
    }
    .el-dialog__header {
        background-color: #f3f3f3 !important;
        padding: 10px 10px 10px 20px !important;
    }
    .el-tabs--card>.el-tabs__header{
        border-bottom:1px solid #dbdbdb;
    }
    .el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
        border-bottom:1px solid #dbdbdb;
    }
    .be-flex-column{
        margin-top: 10px;
    }
    .el-tabs__item:hover{
        color: #DB5454;
    }
    .el-tabs__item.is-active {
        color: #DB5454 !important;
    }
    .el-tabs__item {
        font-weight: 600;
        padding: 0 10px !important;
        font-size: 12px !important;
    }
    .info {
        margin: -10px 0px 10px 0px;
        height: 30px;
        line-height: 30px;
        span {
            margin-left: 5px;
            color: #8F8F8F;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .tb {
        span {
            margin-left: 5px;
        }
    }
    .base-custom-table .el-table__header-wrapper .el-table__header thead th{
        padding: 10px 0px;
    }
}
